---
- include: upgrade-docker.yml
  when: osbs_upgrade_docker

- include: update-node-selector-labels.yml
  when: osbs_update_node_labels

- include: tag-buildroot.yml
  when: osbs_buildroot_imagestream_live_tag != ''
