apiVersion: {{ osbs_pruner_cronjob_api_version }}
kind: CronJob
metadata:
  name: build-pruner
spec:
  schedule: "{{ osbs_pruner_schedule_build }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ osbs_pruner_successful_jobs }}
  failedJobsHistoryLimit: {{ osbs_pruner_failed_jobs }}
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: "{{ osbs_pruner_serviceaccount }}"
          containers:
          - name: build-pruner
            image: "{{ osbs_pruner_image }}"

            {% if osbs_pruner_command_build %}command: {{ osbs_pruner_command_build | to_yaml }}{% endif %}

          restartPolicy: OnFailure
