[general]
build_json_dir = {{ osbs_build_json_dir }}

{% for platform, clusters in osbs_worker_clusters.items() %}
{% for cluster in clusters | default([]) %}
[{{ cluster.name }}]
namespace = {{ cluster.namespace | default('worker') }}
openshift_url = {{ cluster.openshift_url }}
token_file = /var/run/secrets/atomic-reactor/{{ cluster.name | replace('_', '-') }}-orchestrator/token
use_auth = {{ cluster.use_auth | default('true') }}
verify_ssl = {{ cluster.verify_ssl | default('true') }}
{% if cluster.scratch_build_node_selector is defined and cluster.scratch_build_node_selector|length %}
scratch_build_node_selector = {{ cluster.scratch_build_node_selector }}
{% endif %}
{% if cluster.deadline is defined %}
worker_max_run_hours = {{ cluster.deadline }}
{% endif %}

{% endfor %}
{% endfor %}
