apiVersion: {{ osbs_cronjob_api_version }}
kind: CronJob
metadata:
  name: {{ osbs_generic_cronjob_name }}
spec:
  schedule: "{{ osbs_generic_cronjob_schedule }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ osbs_generic_cronjob_successful_jobs }}
  failedJobsHistoryLimit: {{ osbs_generic_cronjob_failed_jobs }}
  jobTemplate:
    spec:
      template:
        spec:
          {% if osbs_generic_cronjob_serviceaccount %}serviceAccountName: "{{ osbs_generic_cronjob_serviceaccount }}"{% endif %}

          containers:
          - name: build-pruner
            image: "{{ osbs_generic_cronjob_image }}"

            {% if osbs_generic_cronjob_command %}command: {{ osbs_generic_cronjob_command | to_yaml }}{% endif %}

          restartPolicy: OnFailure
