apiVersion: v1
kind: LimitRange
metadata:
  name: cpureq
  namespace: {{ osbs_namespace }}
spec:
  limits:
  - type: Container
    defaultRequest:
      cpu: {{ osbs_cpu_limitrange }}
      {% if osbs_memory_limitrange %}memory: {{ osbs_memory_limitrange }}{% endif %}

