#!/bin/bash
set -exuo pipefail

OC='oc -n {{ osbs_namespace }}'

delete_threshold=$(date --date="{{ osbs_pruner_config_maps_days_old }} days ago" --iso-8601=seconds --utc)

old_config_maps=$(
    $OC get configmap -o json | \
    jq '.items[].metadata | select(.creationTimestamp < "'${delete_threshold}'") | .name' -r | \
    sort -u
)

if [ -z "$old_config_maps" ]
then
    echo "Nothing to remove."
    exit 0
fi

echo -e "${old_config_maps}"
echo
count=$(wc -l <<<${old_config_maps})
echo "SUMMARY: ${count} ConfigMaps will be removed"

echo ${old_config_maps} | xargs -n 10 $OC configmap pod
