#!/bin/bash
set -exuo pipefail

OC='oc -n {{ osbs_namespace }}'

empty_imagestreams=$(
    $OC get imagestream -o json | \
    jq '.items[] | select(.spec.tags == null) | .metadata.name' -r
)

if [ -z "$empty_imagestreams" ]
then
    echo "Nothing to remove."
    exit 0
fi

echo -e "${empty_imagestreams}"
echo
count=$(wc -l <<<${empty_imagestreams})
echo "SUMMARY: ${count} ImageStreams will be removed"

echo ${empty_imagestreams} | xargs -n 10 $OC delete imagestream
