#!/bin/bash
set -exuo pipefail

OC='oc -n {{ osbs_namespace }}'

buildconfigs_without_triggers=$(
    $OC get bc -o json | \
    jq '.items[] | select(.spec.triggers == []) | .metadata.name' -r | \
    sort -u
)

all_build_buildconfigs=$(
    $OC get builds -o json | \
    jq '.items[].metadata | select(.labels.buildconfig != null) | .labels.buildconfig' -r | \
    uniq | \
    sort -u
)

set +e
unwanted_buildconfigs=$(
    comm -23 <(echo "$buildconfigs_without_triggers") <(echo "$all_build_buildconfigs") | \
    grep -v '^osbs-rcm-buildroot' | \
    grep -v '^osbs-test-autorebuild-from-scratch-parent'
)
set -e

echo -e "${unwanted_buildconfigs}"
count=$(wc -l <<<${unwanted_buildconfigs})
echo "SUMMARY: ${count} BuildConfigs will be removed"

echo ${unwanted_buildconfigs} | xargs -n 10 $OC delete buildconfig
