#!/bin/bash
set -exuo pipefail

OC='oc -n {{ osbs_namespace }}'

autorebuild_imagestream_tags=$(
    $OC get bc -o json | \
    jq '.items[].spec.triggers[].imageChange?.from.name' -r | \
    sort -u
)

delete_threshold=$(date --date="7 days ago" --iso-8601=seconds --utc)

# chunk-size=0 is required to get all tags when there is a lot of tags
old_imagestream_tags=$(
    $OC get imagestreamtags --chunk-size=0 -o json | \
    jq '.items[].metadata | select(.creationTimestamp < "'${delete_threshold}'") | .name' -r | \
    sort -u
)

set +e
unwanted_imagestream_tags=$(
    comm -23 <(echo "$old_imagestream_tags") <(echo "$autorebuild_imagestream_tags") | \
    grep -v '^osbs-rcm-buildroot:' | \
    grep -v '^osbs-test-autorebuild-from-scratch-parent:'
)
set -e

if [ -z "$unwanted_imagestream_tags" ]
then
    echo "Nothing to remove."
    exit 0
fi

echo -e "${unwanted_imagestream_tags}"
echo
count=$(wc -l <<<${unwanted_imagestream_tags})
echo "SUMMARY: ${count} ImageStreamTags will be removed"

echo ${unwanted_imagestream_tags} | xargs -n 10 $OC delete imagestreamtags
